/* http://snook.ca/archives/html_and_css/font-size-with-rem */
html { font-size: 62.5%; }
body { font-size: 14px; font-size: 1.4rem;  } /* =14px */
h1 { font-size: 48px; font-size: 4.8rem;  } /* =48px */
h2 { font-size: 42px; font-size: 4.2rem;  } /* =42px */
h3 { font-size: 36px; font-size: 3.6rem;  } /* =36px */
h4 { font-size: 32px; font-size: 3.2rem;  } /* =32px */
h5 { font-size: 24px; font-size: 2.4rem;  } /* =24px */
h6 { font-size: 18px; font-size: 1.8rem;  } /* =18px */


.center-text {
    width: 100%;
    text-align: center;
}

.game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;

    border: solid 1px #222;
}

.instructions {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 500px;
    height: 45px;

    /*background-color: rgba(0,255,0,0.1);*/
}

.drag-drop {
    position: absolute;
    top: 45px;
    left: 0;
    width: 500px;
    height: 405px;

    /*border: solid 1px darkgreen;*/
}

.drop-zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 245px;

    /*border: solid 1px slategrey;*/
    /*background-color: rgba(0,255,0,0.1);*/
}

.drag-home {
    position: absolute;

    top: 245px;
    left: 0;

    width: 500px;
    height: 160px;
    /* quick positioning hack */
    padding-left: 35px;

    /*border: solid 1px gold;*/
}

.game-controls {
    position: absolute;
    left: 0;
    top: 450px;
    width: 500px;
    height: 50px;

    /*border: solid 2px gold;*/
}




/* TODO apply similar opacity effect on drag */
.lvl-target {
    /* applied to all drop targets when a drag operation begins, used to indicate drop targets on a page */
    background-color: #ddd;
    opacity: .5;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
    border:1px solid black;
}


.btn-droppable {
    padding: 0;
    /*z-index: -1;*/
    cursor: default;
}


.btn-draggable {
    z-index: 1;
    padding: 0;
    cursor: move;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    text-align: center;
    font-weight: bold;
}

.square {
    width: 75px;
    min-height: 75px;
}
.drop-board {
    /* hard-code for now */
    width: 300px;
    padding-top: 3px;
    padding-left: 22px;
    /*padding-right: 10px;*/
    margin-left: auto;
    margin-right: auto;

    border: solid 1px #222;
}

.drop-slot {
    display: inline-block;
    border: dashed 1px darkgreen;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 75px !important;
    height: 75px !important;
}

.drag-slot {
    border:1px #999 solid;
    /* bit hacky now */
    margin-top: 3px;
    margin-bottom: 3px;
}
.drag-text {
    width: 75px;
    height: 75px;
    line-height: 75px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.drag-text h1 {
    margin: 0;
    padding: 0;
}


.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
    color: white;
}

.grey {
    background-color: grey;
}

pre strong {
    font-size:12pt;
}



/*------------------------------------*\
    LISTS
    See: http://csswizardry.com/2010/02/mutiple-column-lists-using-one-ul/
\*------------------------------------*/
ul{
    width:inherit;
    height: inherit;
    margin-bottom:20px;
    /*overflow:hidden;*/
    /*border-left:1px solid #a32d00;*/
    /*border-right:1px solid #a32d00;*/
    /*border-bottom:1px solid #a32d00;*/
}
li{
    padding: 0;
    margin: 0;
    line-height:1.5em;
    height: 75px;
    /*border-bottom:1px solid #ccc;*/
    float:left;
    display:inline;
}
#double li	{ width:50%;}
#triple li	{ width:33.333%; }
#quad li		{ width:25%; }
#six li		{ width:16.666%; }
