

.game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;

    border: solid 4px tomato;
}

.instructions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;

    border: solid 1px blue;
}

.drag-drop {
    position: absolute;
    top: 45px;
    left: 0;
    width: 500px;
    height: 405px;

    border: solid 1px darkgreen;
}

/*  Styles for the lvlDragDrop drag drop */
.lvl-over {
    /* applied to a drop target when a draggable object is over it */
    border: 2px dashed black !important;
}

.lvl-target {
    /* applied to all drop targets when a drag operation begins, used to indicate drop targets on a page */
    background-color: #ddd;
    opacity: .5;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
    border:1px solid black;
}

.peg {
    text-align: center;
    font-weight: bold;
    border:1px black solid;
    width: 75px;
    margin: 10px;
}

.slot {
    margin-right:2px;
    margin-top:2px;
    width:25;
    height:25px;
    display:inline-block;
    border: none;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
    color: white;
}

.grey {
    background-color: grey;
}

pre strong {
    font-size:12pt;
}
