/* http://snook.ca/archives/html_and_css/font-size-with-rem */
html { font-size: 62.5%; }
body { font-size: 14px; font-size: 1.4rem;  } /* =14px */
h1 { font-size: 48px; font-size: 4.8rem;  } /* =24px */

.game-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;

    border: solid 4px tomato;
}

.instructions {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 500px;
    height: 45px;

    border: solid 1px blue;
}

.drag-drop {
    position: absolute;
    top: 45px;
    left: 0;
    width: 500px;
    height: 405px;

    border: solid 1px darkgreen;
}

.drop-zone {
    position: absolute;
    top: 0;
    left: 0;

    width: 500px;
    height: 245px;
    border: solid 1px slategrey;
}

.drag-home {
    position: absolute;

    top: 245px;
    left: 0;

    width: 500px;
    height: 160px;

    border: solid 1px gold;
}

.game-controls {
    position: absolute;
    left: 0;
    top: 450px;
    width: 500px;
    height: 50px;

    border: solid 2px gold;
}




/* TODO aly similar opacity effect on drag */
.lvl-target {
    /* applied to all drop targets when a drag operation begins, used to indicate drop targets on a page */
    background-color: #ddd;
    opacity: .5;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
    border:1px solid black;
}


.btn-droppable {
    padding: 0;
    z-index: -1;
    cursor: default;
}


.btn-draggable {
    z-index: 1;
    padding: 0;
    cursor: move;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    text-align: center;
    font-weight: bold;
}

.square {
    width: 75px;
    min-height: 75px;
}

.drop-slot {
    display: inline-block;
    border: dashed 1px darkgreen;
}

.drag-slot {
    border:1px #999 solid;
}
.drag-text {
    width: 75px;
    height: 75px;
    line-height: 75px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.drag-text h1 {
    margin: 0;
    padding: 0;
}


.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
    color: white;
}

.grey {
    background-color: grey;
}

pre strong {
    font-size:12pt;
}

