<div class="row">
    <div class="col-md-7">
        <div class="game-container" ng-controller="Master as master">
            <div class="instructions" ng-controller="Instructions as instructions">
                <p>{{ main.test }}</p>
            </div>


            <div class="drag-drop" ng-controller="DragDrop as dragDrop">

                <div class="drop-zone">
                    <ul id="triple" class="drop-board">
                        <li class="square drop-slot" ng-repeat="image in dragDrop.dropTargets track by $index">
                            <div class="btn btn-droppable square" data-drop="true" ng-model='dragDrop.selectedItems'
                                jqyoui-droppable="{index: {{$index}}, onDrop:'dragDrop.dropCallback',onOver: 'dragDrop.overCallback', onOut: 'dragDrop.outCallback'}">
                                <div class="btn btn-info square btn-draggable" ng-show="dragDrop.selectedItems[$index].title"
                                     data-drag="{{dragDrop.selectedItems[$index].drag}}" data-jqyoui-options="{revert: 'invalid'}"
                                     ng-model="dragDrop.selectedItems"
                                     jqyoui-draggable="{index: {{$index}},placeholder:true,animate:false}">
                                    <span class="drag-text"><h1>{{dragDrop.selectedItems[$index].title}}</h1></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="drag-home">
                    <div class="btn btn-droppable square drag-slot" style='margin-left:10px;' ng-repeat="item in dragDrop.list2 track by $index" data-drop="true"
                         ng-model='dragDrop.list2' jqyoui-droppable="{index: {{$index}}}">
                        <div class="btn btn-info btn-draggable square" data-drag="{{item.drag}}"
                             data-jqyoui-options="{revert: 'invalid'}" ng-model="dragDrop.list2"
                             jqyoui-draggable="{index: {{$index}},placeholder:true,animate:false, onStart:'dragDrop.startCallback(item, $index)', onStop: 'dragDrop.stopCallback', onDrag: 'dragDrop.dragCallback'}"
                             ng-hide="!item.title"><span class="drag-text"><h1>{{item.title}}</h1></span>
                        </div>
                    </div>
                </div>


            </div>



            <div class="game-controls">
                <p>controls</p>
            </div>

        </div>

    </div>


</div>

<!--
<div class="square drop-slot" style='margin-left:10px;' ng-repeat="image in dragDrop.dropTargets track by $index">


    <li class="btn btn-droppable square" data-drop="true" ng-model='dragDrop.selectedItems'
        jqyoui-droppable="{index: {{$index}}, onDrop:'dragDrop.dropCallback',onOver: 'dragDrop.overCallback', onOut: 'dragDrop.outCallback'}">
        <div class="btn btn-info square btn-draggable" ng-show="dragDrop.selectedItems[$index].title"
             data-drag="{{dragDrop.selectedItems[$index].drag}}" data-jqyoui-options="{revert: 'invalid'}"
             ng-model="dragDrop.selectedItems"
             jqyoui-draggable="{index: {{$index}},placeholder:true,animate:false}">
            <span class="drag-text"><h1>{{dragDrop.selectedItems[$index].title}}</h1></span>
        </div>
    </li>
</div>
-->







