<div class="row">
    <div class="col-md-7">
        <div class="game-container" ng-controller="Master as master">
            <div class="instructions" ng-controller="Instructions as instructions">
                <span ng-if='!master.complete'>
                    <h4 class="center-text"><strong>Magic Square Puzzle</strong></h4>
                    <h6 class="center-text">{{instructions.instructions}}</h6>
                </span>
                <span >
                    <h4 style="padding-top:25px" class="center-text" ng-if="master.allCorrect">Well done all correct!</h4>
                <h4 style="padding-top:25px" class="center-text" ng-if='master.complete && !master.allCorrect'>Try again!</h4>
                </span>

            </div>


            <div class="drag-drop" ng-controller="DragDrop as dragDrop">

                <div class="drop-zone">

                    <ul id="triple" class="drop-board">

                        <li class="square drop-slot" ng-repeat="drop in dragDrop.dropTargets track by $index">

                            <div class="btn btn-droppable square" data-drop="true" ng-model='dragDrop.selectedItems'
                                jqyoui-droppable="{index: {{$index}}, onDrop:'dragDrop.dropCallback($index)',onOver: 'dragDrop.overCallback(data-drag)', onOut: 'dragDrop.outCallback($index)'}">
                                <div class="btn btn-info square btn-draggable" ng-show="dragDrop.selectedItems[$index].title"
                                     data-drag="{{dragDrop.selectedItems[$index].drag}}" data-jqyoui-options="{revert: 'invalid'}"
                                     ng-model="dragDrop.selectedItems"
                                     jqyoui-draggable="{index: {{$index}},placeholder:true,animate:false}">
                                    <span class="drag-text"><h1>{{dragDrop.selectedItems[$index].title}}</h1></span>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>

                <div class="drop-zone-overlay">
                    <ul id="single" class="drop-board">

                        <li class="drop-display" ng-repeat="drop in dragDrop.dropTargets | pick: master.mod3">
                             <span class="pull-left" style="margin-left: -20px;">{{dragDrop.getRowTotal(drop.value)}}</span> <span class="pull-right">{{dragDrop.getRowTotal(drop.value)}}</span>
                        </li>

                    <!--ng-options="a.id as a.name for a in artworkArr | arrayWithoutSelf:artwork.$id "-->
                    </ul>
                </div>


                <div class="drag-home">
                    <div class="btn btn-droppable square drag-slot" style='margin-left:10px;' ng-repeat="item in dragDrop.list2 track by $index" data-drop="true"
                         ng-model='dragDrop.list2' jqyoui-droppable="{index: {{$index}}}">
                        <div class="btn btn-info btn-draggable square" data-drag="{{item.drag}}"
                             data-jqyoui-options="{revert: 'invalid'}" ng-model="dragDrop.list2"
                             jqyoui-draggable="{index: {{$index}},placeholder:true,animate:false, onStart:'dragDrop.startCallback(item, $index)', onStop: 'dragDrop.stopCallback', onDrag: 'dragDrop.dragCallback'}"
                             ng-hide="!item.title"><span class="drag-text"><h1>{{item.title}}</h1></span>
                        </div>
                    </div>
                </div>


            </div>



            <div class="game-controls">
                <form style="margin-top: 5px; margin-left: 10px;">
                    <button style="display: inline" class="btn btn-default btn-lg" type="submit" ng-click="">Submit</button>
                    <button style="display: inline; margin-left: 10px;" class="btn btn-default btn-lg" type="submit" ng-click="">Clear</button>
                </form>


            </div>

        </div>

    </div>


</div>







